@media (max-width: 700px) {
/* Hide nav and aside for mobile */
nav, aside {
  display: none;
}

html {
  width: 100%;
  height: 100%;
}

/* header */
header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 10px;
  width: 100%;
  max-height: 120px;
}

header h1 {
  margin-left: 10px;
  font-size: 25px;
}

.menu-logo, .menu-icon {
  width: 50px;
  height: 50px;
}

/* Base layout grid */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  height: 100%;
  width: 100%;
}


/* main */
main {
  width: 100%;
  overflow-y: auto;
}

/* footer */
footer {
  width: 100%;
  max-height: 120px;
}
}
@media (min-width: 701px) {
header .menu-icon {
  display: none;
}

/* header */
header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 10px;
  width: 100%;
  max-height: 120px;
}

header h1 {
  margin-left: 10px;
  font-size: 35px;
}
nav {
  width: 100%;
  max-height: 50px;
}
main {
  width: 80%;
  overflow-y: auto;
  
}
footer {
  width: 100%;
  height: 20px;
}
}