@media (max-width: 800px) {
  :root {
  --header-height: 70px;
  --top-nav-height: 30px;
  --bottom-footer-height: 60px;
}
  nav,aside{
  display: none;
}
  /* header */
  header {
  position: sticky;
  background-color: white;
  top: 0;
  width: 100%;
  height: var(--header-height);
  display: grid;
  grid-template-columns: auto 1fr auto; /* logo | title | menu icon */
  align-items: center;
  z-index: 100;
}

  header .menu-logo {
  grid-column: 1; 
  width: 65px;
  height: 65px;
  padding: 10px;
  display: grid;
  place-items: center;
}

  header h1 {
  grid-column: 2;
  font-size: 1.5rem;
  text-align: left;
}

  header .menu-icon {
  grid-column: 3;
  width: 65px;
  height: 65px;
  padding: 10px;
  display: grid;
  place-items: center;
}

/* main */
main {
  width: 100%;
}

/* footer */
footer {
  position: sticky;
  height: auto;
  bottom: 0px;
  background-color: white;
}
}



@media (min-width: 801px) {
  :root {
    --header-height: 70px;
    --top-nav-height: 30px;
    --bottom-footer-height: 60px;
  }
header {
  position: sticky;
  background-color: white;
  top: 0;
  width: 100%;
  height: var(--header-height);
  display: grid;
  grid-template-columns: auto 1fr auto; /* logo | title | menu icon */
  align-items: center;
  z-index: 100;
}

header .menu-logo {
  grid-column: 1; 
  width: 65px;
  height: 65px;
  padding: 10px;
  display: grid;
  place-items: center;
}

header h1 {
  grid-column: 2;
  font-size: 1.5rem;
  text-align: left;
}

header .menu-icon {
  display: none;
}
nav {
    position: sticky;
    justify-items: center;
    width: 100%;
    height: auto;
    top:var(--header-height);
    background-color: white;
  }
  nav ul {
    display: flex;
    list-style: none;
    padding: 0px 40px;
  }
  nav ul li{
    padding: 0px 40px;
  }
  main {
    width: 80%;
    margin: 0 auto;
  }
}