@media (max-width: 800px) {
footer {
  position: sticky;
  height: auto;
  bottom: 0px;
  background-color: white;
}
  :root {
    --header-height: 70px;
    --top-nav-height: 30px;
  }
  /* header */
header {
  position: sticky;
  background-color: white;
  top: 0;
  width: 100%;
  height: var(--header-height);
  display: grid;
  grid-template-columns: auto 1fr auto; /* logo | title | menu icon */
  align-items: center;
  z-index: 100;
}

header .menu-logo {
  grid-column: 1; 
  width: 65px;
  height: 65px;
  padding: 10px;
  display: grid;
  place-items: center;
}

header h1 {
  grid-column: 2;
  font-size: 1.5rem;
  text-align: left;
}

header .menu-icon {
  grid-column: 3;
  width: 65px;
  height: 65px;
  padding: 10px;
  display: grid;
  place-items: center;
}
  nav,aside{
    display: none;
  }
  main {
    width: 100%;
  }
}